@model WEBTechnology.BLL.ViewModels.User.UserCreateViewModel
@{
	ViewData["Title"] = "Add user";
}

<div class="container-page">
	<h2 class="title-margin">Добавление пользователя</h2>
	<form method="post" asp-controller="User" asp-action="AddUser"> <div asp-validation-summary="All" class="text-danger"></div>
		<div style="margin-bottom: 5px">
           
			<div style="margin-bottom: 5px">
				<label asp-for="Name"></label><br />
				<input class="form-control" asp-for="Name" />
				<span asp-validation-for="Name" class="text-danger"></span>
            
			</div>
			<div style="margin-bottom: 5px">
				<label asp-for="Age"></label><br />
				<input class="form-control" asp-for="Age" />
				<span asp-validation-for="Age" class="text-danger"></span>
            
			</div>
			<div style="margin-bottom: 5px">
				<label asp-for="Email"></label><br />
				<input class="form-control" asp-for="Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
           
			</div>

			<div>
				<input class="btn btn-sm btn-primary" type="submit" value="Сохранить"/>
			</div>
			<p>
				<a method="get" asp-controller="User" asp-action="GetUsers">Все пользователи </a>
			</p></div>
	</form>
</div>